@use '../../style' as s;

@use '../../style/layout.scss' as layout;

// @use '../../component/post__item/index.scss' as post__item;

.post__list {
  display: grid;
  gap: s.space(3);
}

.post {
  width: 100%;
  min-height: 132px;
  display: flex;
  width: 343px;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 10px;
  //   border: 1px solid var(--border-devider, #e6e6e6);
  //   background: var(--input, #F7F7F7);
  background: s.color('input');
  color: s.color('second-text');

  &__viewed {
    background: transparent;
    border: 1px solid s.color('border');
    color: s.color('grey-text');
  }

  //   &__uncolored {
  //     border: 1px solid s.color('border');
  //     & .post__text {
  //       color: s.color('grey-text');
  //     }
  //   }

  //   &__colored {
  //     background: s.color('input');
  //     & .post__text {
  //       color: s.color('second-text');
  //     }
  //   }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__category--list {
    display: flex;
    gap: s.space(2);
  }

  &__category {
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100px;
    font-size: 12px;

    &--1 {
      background: s.color('lite-orange');
      color: s.color(orange);
    }

    &--2 {
      background: s.color('lite-purple');
      color: s.color(purple);
    }
  }

  &__date {
    color: s.color('grey-text');
    font-size: 14px;
  }

  &__info {
    // color: s.color('second-text');
    // font-family: PT Root UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
}

.tags__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 30px;
}

.tag {
  font-size: 16px;
  text-align: center;
  padding-bottom: 12px;

  color: s.color('grey-text');
  border-bottom: 2px solid s.color('border');

  &__active {
    color: s.color('dark-text');
    border-bottom: 2px solid s.color('dark-text');
  }

  transition: opacity 0.5s;

  &:hover {
    opacity: 0.7;
  }
}

.tag__img {
  width: 100%;
}

.tag__info {
  display: grid;
  gap: 12px;
}

.tag__button {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  background-color: s.color(orange);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: s.color(white);
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.7;
  }
}

.tag__title {
  color: s.color('dark-text');
  // font-family: PT Root UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
}

.tag__text {
  color: s.color('text-second');
  font-family: PT Root UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
